.alpha-banner {
  background-color: #ffcc00;
  color: #333;
  padding: 10px;
  position: fixed;
  top: 10px; /* Un petit espace en haut */
  left: 10px; /* Un petit espace à gauche */
  right: 10px; /* Un petit espace à droite */
  border-radius: 10px; /* Coins arrondis */
  text-align: center;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Une ombre pour un meilleur effet visuel */
  opacity: 0; /* Commence invisible */
  animation: fadeIn 0.5s forwards; /* Animation d'apparition */
}

.alpha-banner span {
  display: block;
  margin-bottom: -10px; /* Ajuster cet espace pour la séparation des phrases */
}

.alpha-banner .bold-text {
  font-weight: bold; /* Mettre en gras */
}

.alpha-banner .close-button {
  background-color: #333;
  color: #fff;
  border: none;
  font-size: 14px;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 25px; /* Augmenter cet espace pour éloigner le bouton */
}

.close-button:hover {
  background-color: #555;
}

/* Animation pour l'apparition */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Animation pour la disparition */
.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-10px); /* Déplacement vers le haut lors de la disparition */
  }
}
