.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.hero-container {
  width: 100%;
  max-width: 1300px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url('https://images.unsplash.com/photo-1536809188428-e8ecf663d0be?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
  background-size: cover;
  padding: 60px 20px;
  height: 70vh;
  filter: blur(4px) grayscale(30%) brightness(70%) opacity(90%);
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.yellow-container {
  background-color: #e0b127;
  padding: 1px 20px 30px;
  border-radius: 15px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
}

.hero-content h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.search-bar-container.margin-top {
  margin-top: -4.5rem;
}

/* New Styles */
.features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
  max-width: 1200px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  text-align: center;
}

.feature img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature h3 {
  margin-top: 20px;
  font-size: 1.5rem;
}

.feature p {
  margin-top: 10px;
  font-size: 1rem;
  color: #666;
}
